<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="herault.matthieu.dev.smarthome">
    <application
        android:allowBackup="false"
        android:screenOrientation="locked"
        android:icon="@drawable/icon_no_text"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_no_text"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".AlarmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>